.boardComponent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
           
}
button{
        color: seagreen
}
.table{
        background-color: salmon;
        margin-top: 20px;
}

#status{
        margin-top: 5%; 
        color: blue;
        font-weight: 600;
}
h1{
        font-size: 40px;
        color: red;
}