.board{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
}
h1{
        color: red;
        text-shadow: 3px 3px 5px salmon;
        font-size: 40px;
}
